
@model Textile.DAL.Models.VentesModel
<form id="ParamForm">
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.DateCreation)
    @Html.HiddenFor(model => model.Status)
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12 col-lg-12">
                <b><label for="UserName">Type:</label></b>
                <div class="input-group">
                    @Html.DropDownListFor(model => model.Type, Textile.Web.Controllers.AdministrationController.GetSaleTypeList(), new { @class = "form-control border-left-info ItemSelect", @style = "width:100%" })
                </div>
            </div>
        </div>       
        <br />
        <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12 col-lg-12">
                <b><label for="client">Client:</label></b>
                <div class="input-group">
                    @Html.DropDownListFor(model => model.client, Textile.Web.Controllers.AdministrationController.GetCustomersList(Model.id), new { @class = "form-control border-left-info ItemSelect", @style = "width:100%" })
                </div>
            </div>
          
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-success" onclick="AddOrUpdateVente()"><i class="ace-icon fa fa-check"></i> Valider</button>
        <button type="button" class="btn btn-sm" id="AnnulerP" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Annuler</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        
        $(".ItemSelect").select2({
            theme: "classic"
        });
    });
</script>

